html,
body,
#game-container {
  margin: 0;
  padding: 0;
}

#game-container {
  /*min-width: 100vw;
  min-height: 100vh;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-container>canvas {
  border-radius: 5px;
}

.layout-container {
  display: flex;
  /*justify-content: space-between;  这将在两个子元素之间增加空间 */
  align-items: start; /* 让元素从顶部开始排列 */
}
.left-section {
  width: 15%; 
  margin-left: 15%; /* 或你想要的任何间距 */
  margin-top:4.5em;
}

.right-section {
  width: 55%;
  margin-top:4.5em;
}

#personaDropdown {
  width: 200px;   /* 设置宽度 */
  height: 40px;   /* 设置高度 */
  font-size: 16px;   /* 设置字体大小 */
  color: rgb(0, 0, 0);       /* 设置文本颜色 */
  border: 2px solid #333;       /* 设置边框样式 */
  background-color: #f9f9f9;   /* 设置背景颜色 */
}



.direction-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 150px;
  height: 150px;
  position: relative;
}

.button {
  width: 40px;
  height: 40px;
  font-size: 16px;
  border: 1px solid #333;
  background-color: #f7f7f7;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #ddd;
}

/* 空中间部分 */
.direction-buttons > div {
  background-color: transparent;
  border: none;
}