{% load static %}

<div id="step" style="display:none">{{step}}</div>
<div id="sim_code" style="display:none">{{sim_code}}</div>

<!-- <div id="persona_init_pos" style="display:none">
	
	{% for i in persona_init_pos %}
		<span>{{i.0}},{{i.1}},{{i.2}}</span>
	{% endfor %}
</div> -->


<div id="new_persona_names_set" style="display:none">
	
	{% for i in new_persona_names_set %}
		<span>{{i}}</span>
	{% endfor %}
</div>

<script src="static/qwebchannel.js"></script> 
	
<script type="text/javascript" >

	// new QWebChannel(qt.webChannelTransport, function (channel) {
	// 	window.MyObject = channel.objects.myObject;
	// });
	var persona_names = JSON.parse('{{ persona_names|safe }}');

	

	/*
	  Main resources: 
	  https://www.youtube.com/watch?v=cKIG1lKwLeo&t=401s&ab_channel=HongLy
	  For the ground zero code, see the exported files from here: 
	  https://codepen.io/mikewesthad/pen/BVeoYP?editors=1111 

	  Also worth taking a look: 
	  https://www.youtube.com/watch?v=fdXcD9X4NrQ&ab_channel=MorganPage
	  and 
	  https://www.youtube.com/watch?v=MR2CvWxOEsw&ab_channel=MattWilber
	 */

	// ###########################################################################
	// PREAMBLE
	// ###########################################################################

	// <step> -- one full loop around all three phases determined by <phase> is 
	// a step. We use this to link the steps in the backend. 
	let step = parseInt(document.getElementById('step').innerHTML);
	let sim_code = document.getElementById('sim_code').innerHTML;
	// let spans = document.getElementById('persona_init_pos').getElementsByTagName('span');
	let spans2 = document.getElementById('new_persona_names_set').getElementsByTagName('span');
	// convert to js dic
	var is_start = true;
	let new_persona_names_list = {};
	for(var i = 0, l = spans2.length; i < l; i++){
		let x = spans2[i].innerText.split(",");
		new_persona_names_list[x[0]] = x
	}

	

	
	// Phaser 3.0 global settings. 
	// Configuration meant to be passed to the main Phaser game instance. 
	const config = {
	  type: Phaser.AUTO,
	  width: 1200,
	  height: 800,
	  parent: "game-container",
	  pixelArt: true,
	  physics: {
	    default: "arcade",
	    arcade: {
	      gravity: { y: 0 } } },
	  scene: {
	    preload: preload,
	    create: create,
	    update: update } };



	// Creating the game instance and setting up the main Phaser variables that  
	// will be used in it. 
	const game = new Phaser.Game(config);
	let cursors;
	let player;
	let showDebug = false;

	// Persona related variables. This should have the name of the persona as its 
	// keys, and the instances of the Persona class as the values.


	var personas = {}
	var pronunciatios = {};
	var collisionsLayer;

	let anims_direction;
	let pre_anims_direction;
	let pre_anims_direction_dict = {};

	let curr_maze = "the_ville";

	// <tile_width> is the width of one individual tile (tiles are square)
	let tile_width = 32;
	// Important: tile_width % movement_speed has to be 0. 
	// <movement_speed> determines how fast we move at each upate cylce. 
	let movement_speed = 32; 
	var update_time = 0;	
	var update_time_2 = 0;
	// <timer_max> determines how frequently our update function will query the 
	// frontend server. If it's higher, we wait longer cycles. 
	let timer_max = 0;
	let timer = timer_max;
	var moveDirections = {
			"up": [0, -1],
			"left": [-1, 0],
			"right": [1, 0],
			"down": [0, 1],
		};
	// <phase> -- there are three phases: "process," "update," and "execute."
	let phase = "update"; // or "update" or "execute"
	var selectedPerson =""
	// Variables for storing movements that are sent from the backend server.
	let execute_movement;
	let execute_count_max = tile_width/movement_speed;
	let execute_count = execute_count_max;
	let movement_target = {};

	var dropdown = document.getElementById("personaDropdown");
    var play_context;

	// ###########################################################################
	// ENGINE
	// ###########################################################################
	dropdown.addEventListener("change", function() {
			selectedPerson = this.value;
			// 在此处执行其他操作，例如使用选中的键
			console.log("Selected key:", selectedPerson);
		});
	
	function check_space(x,y){
		for (let i=0; i<Object.keys(personas).length;i++){
			let name = Object.keys(personas)[i];

			if (Math.abs(personas[name].body.x-x)<32 && Math.abs(personas[name].body.y-y)<32){
				return false;
			}
		}
		return true;
	}
	function add_new() {  
		var name = prompt("Name:");
			if (name) {
				if (name in personas){
					alert("already exist");
					return ;
				}
			}
		

		let randomName = Object.keys(new_persona_names_list)[Math.floor(Math.random() * Object.keys(new_persona_names_list).length)];

		let start_pos_x = 2500;
		let start_pos_y = 1100;
		
		while (!check_space(start_pos_x,start_pos_y)){
			start_pos_x-=32;
		}
		let new_sprite = play_context.physics.add
							.sprite(start_pos_x, start_pos_y, randomName, "down")
							.setSize(30, 40)
							.setOffset(0, 0); 

		// new_sprite.scale = 1.5;
		
		// play_context.physics.add.collider(player, collisionsLayer);
		play_context.physics.add.collider(new_sprite, collisionsLayer);
		personas[name] =  new_sprite;
		var option = document.createElement("option");
		option.style = "font-size:3.0em"
		option.value = name;
		option.textContent = name;
		dropdown.appendChild(option);

		let new_persona_json ={};
		new_persona_json['name'] = name;
		new_persona_json['appearance'] = randomName;
		new_persona_json['x'] = start_pos_x;
		new_persona_json['y'] = start_pos_y;
		new_persona_json['target_x'] = start_pos_x;
		new_persona_json['target_y'] = start_pos_y;
		new_persona_json['direction'] = 'stop'


		fetch('/new_persona/', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(new_persona_json)
		})
		.then(response => response.json())
		.then(data => console.log(data))
		.catch((error) => console.error('Error:', error));

		selectedPerson = name;


		
	}  

	add_button.onclick = function(){
		add_new();
	};
	
	function move_persona(curr_persona_name, direction, targetX, targetY , update){
		
		console.log('===================')
		console.log(curr_persona_name, direction, targetX, targetY , update)
		
		let [dx, dy] = moveDirections[direction];

		// let targetX = personas[curr_persona_name].body.x + dx * movement_speed;
    	// let targetY = personas[curr_persona_name].body.y + dy * movement_speed;

		

		personas[curr_persona_name].body.setVelocity(dx * movement_speed, dy * movement_speed);


		if (direction == "left") {
			let animskey = persona_names[curr_persona_name]['appearance'] + "-left-walk";
			personas[curr_persona_name].anims.play(animskey, true);
		} else if (direction == "right") {
			let animskey = persona_names[curr_persona_name]['appearance'] + "-right-walk";
			personas[curr_persona_name].anims.play(animskey, true);
		} else if (direction == "up") {
			let animskey = persona_names[curr_persona_name]['appearance'] + "-up-walk";
			personas[curr_persona_name].anims.play(animskey, true);
		} else if (direction == "down") {
			let animskey = persona_names[curr_persona_name]['appearance'] + "-down-walk";
			personas[curr_persona_name].anims.play(animskey, true);
		} else {
			personas[curr_persona_name].anims.stop();
		};

		if (update){
			persona_names[curr_persona_name]['target_x'] = targetX;
			persona_names[curr_persona_name]['target_y'] = targetY;
			persona_names[curr_persona_name]['direction'] = direction;
			let new_persona_json ={};
			new_persona_json['name'] = curr_persona_name;
			new_persona_json['appearance'] = persona_names[curr_persona_name]['appearance'];
			new_persona_json['x'] = personas[curr_persona_name].body.x;
			new_persona_json['y'] = personas[curr_persona_name].body.y;
			new_persona_json['target_x'] = targetX;
			new_persona_json['target_y'] = targetY;
			new_persona_json['direction'] = direction


			fetch('/move/', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(new_persona_json)
			})
			.then(response => response.json())
			.then(data => console.log(data))
			.catch((error) => console.error('Error:', error));
		}

	}

	document.querySelector(".direction-buttons").addEventListener("click", function(event) {
	if (event.target.classList.contains("button")) {
		let direction = event.target.classList[1];


		console.log("Selected key:", selectedPerson);

		let [dx, dy] = moveDirections[direction];

		let targetX = personas[selectedPerson].body.x + dx * movement_speed;
    	let targetY = personas[selectedPerson].body.y + dy * movement_speed;

		move_persona(selectedPerson, direction, targetX ,targetY ,  true);

	}
	});


	function preload() {  
	  // Loading the necessary images (e.g., the background image, character 
	  // sprites). 

	  // Joon: for load.image, the first parameter is simply the key value that
	  //       you are passing in. The second parameter should be pointed to the
	  //       png file that contains the tileset. 
	  //       Also IMPORTANT: when you create a tileset in Tiled, always be  
	  //       sure to check the "embedded" option. 
	  this.load.image("blocks_1", "{% static 'assets/the_ville/visuals/map_assets/blocks/blocks_1.png' %}");
	  this.load.image("walls", "{% static 'assets/the_ville/visuals/map_assets/v1/Room_Builder_32x32.png' %}");
	  this.load.image("interiors_pt1", "{% static 'assets/the_ville/visuals/map_assets/v1/interiors_pt1.png' %}");
	  this.load.image("interiors_pt2", "{% static 'assets/the_ville/visuals/map_assets/v1/interiors_pt2.png' %}");
	//   this.load.image("interiors_pt3", "{% static 'assets/the_ville/visuals/map_assets/v1/interiors_pt3.png' %}");
	  this.load.image("interiors_pt4", "{% static 'assets/the_ville/visuals/map_assets/v1/interiors_pt4.png' %}");
	  this.load.image("interiors_pt5", "{% static 'assets/the_ville/visuals/map_assets/v1/interiors_pt5.png' %}");
	  this.load.image("CuteRPG_Field_B", "{% static 'assets/the_ville/visuals/map_assets/cute_rpg_word_VXAce/tilesets/CuteRPG_Field_B.png' %}");
	  this.load.image("CuteRPG_Field_C", "{% static 'assets/the_ville/visuals/map_assets/cute_rpg_word_VXAce/tilesets/CuteRPG_Field_C.png' %}");
	  this.load.image("CuteRPG_Harbor_C", "{% static 'assets/the_ville/visuals/map_assets/cute_rpg_word_VXAce/tilesets/CuteRPG_Harbor_C.png' %}");
	  this.load.image("CuteRPG_Village_B", "{% static 'assets/the_ville/visuals/map_assets/cute_rpg_word_VXAce/tilesets/CuteRPG_Village_B.png' %}");
	  this.load.image("CuteRPG_Forest_B", "{% static 'assets/the_ville/visuals/map_assets/cute_rpg_word_VXAce/tilesets/CuteRPG_Forest_B.png' %}");
	  this.load.image("CuteRPG_Desert_C", "{% static 'assets/the_ville/visuals/map_assets/cute_rpg_word_VXAce/tilesets/CuteRPG_Desert_C.png' %}");
	  this.load.image("CuteRPG_Mountains_B", "{% static 'assets/the_ville/visuals/map_assets/cute_rpg_word_VXAce/tilesets/CuteRPG_Mountains_B.png' %}");
	  this.load.image("CuteRPG_Desert_B", "{% static 'assets/the_ville/visuals/map_assets/cute_rpg_word_VXAce/tilesets/CuteRPG_Desert_B.png' %}");
	  this.load.image("CuteRPG_Forest_C", "{% static 'assets/the_ville/visuals/map_assets/cute_rpg_word_VXAce/tilesets/CuteRPG_Forest_C.png' %}");

	  // Joon: This is the export json file you get from Tiled. 
	  this.load.tilemapTiledJSON("map", "{% static 'assets/the_ville/visuals/the_ville_hsf.json' %}");

	  // An atlas is a way to pack multiple images together into one texture. I'm 
	  // using it to load all the player animations (walking left, walking right, 
	  // etc.) in one image. For more info see:
	  // https://labs.phaser.io/view.html?src=src/animation/texture%20atlas%20animation.js
	  // If you don't use an atlas, you can do the same thing with a spritesheet, 
	  // see: https://labs.phaser.io/view.html?src=src/animation/single%20sprite%20sheet.js
	  // Joon: Technically, I think this guy had the best tutorial for atlas: 
	  //       https://www.youtube.com/watch?v=fdXcD9X4NrQ&ab_channel=MorganPage
	  this.load.atlas("atlas", 
	                  "https://mikewesthad.github.io/phaser-3-tilemap-blog-posts/post-1/assets/atlas/atlas.png", 
	                  "https://mikewesthad.github.io/phaser-3-tilemap-blog-posts/post-1/assets/atlas/atlas.json");

	  var basePath = "{% static 'assets/characters/' %}";	
	  for (let i=0; i<Object.keys(new_persona_names_list).length; i++){

		var imageUrl = basePath + Object.keys(new_persona_names_list)[i] + ".png";
		this.load.atlas(Object.keys(new_persona_names_list)[i], 
						imageUrl, 
	                  "{% static 'assets/characters/atlas.json' %}");
	  }
	  
	}


	function showInfoPanel(sprite) {
		const padding = 10;
    
		// 准备文本内容
		let content = 'Sprite Info:\n' + 'x: ' + sprite.x.toFixed(2) + ', y: ' + sprite.y.toFixed(2);
		let infoText = play_context.add.text(0, 0, content, { fontSize: '16px', fill: '#000000' });
		
		let x = infoText.width /2  + 32
		let y = infoText.height /2  + 32
		// 使用图形对象作为背景
		let bgWidth = infoText.width + padding * 2;
		let bgHeight = infoText.height + padding * 2;

		let infoBg = play_context.add.graphics()
						.fillStyle(0xffffff)
						.fillRect(sprite.x - bgWidth/2 + x, sprite.y - bgHeight/2 -y, bgWidth, bgHeight);

		infoText.destroy();				
		infoText = play_context.add.text(0, 0, content, { fontSize: '16px', fill: '#000000' });


		// 调整文本对象的位置使其居中于背景上
		infoText.setPosition(sprite.x - infoText.width/2 + x, sprite.y - infoText.height/2 - y);

		// 如果你需要在一段时间后自动隐藏信息面板，可以使用以下代码：
		play_context.time.delayedCall(3000, function() {  // 3秒后隐藏
			infoText.destroy();
			infoBg.destroy();
		}, [], play_context);
	}

	function create() {  
		play_context = this;
		const map = this.make.tilemap({ key: "map" });
		// Joon: Logging map is really helpful for debugging here: 
		//       console.log(map);

		// The first parameter is the name you gave to the tileset in Tiled and then
		// the key of the tileset image in Phaser's cache (i.e. the name you used in
		// preload)
		// Joon: for the first parameter here, really take a look at the 
		//       console.log(map) output. You need to make sure that the name 
		//       matches.
		const collisions = map.addTilesetImage("blocks", "blocks_1");
		const walls = map.addTilesetImage("Room_Builder_32x32", "walls");
		const interiors_pt1 = map.addTilesetImage("interiors_pt1", "interiors_pt1");
		const interiors_pt2 = map.addTilesetImage("interiors_pt2", "interiors_pt2");
		const interiors_pt4 = map.addTilesetImage("interiors_pt4", "interiors_pt4");
		const interiors_pt5 = map.addTilesetImage("interiors_pt5", "interiors_pt5");
		const CuteRPG_Field_B = map.addTilesetImage("CuteRPG_Field_B", "CuteRPG_Field_B");
		const CuteRPG_Field_C = map.addTilesetImage("CuteRPG_Field_C", "CuteRPG_Field_C");
		const CuteRPG_Harbor_C = map.addTilesetImage("CuteRPG_Harbor_C", "CuteRPG_Harbor_C");
		const CuteRPG_Village_B = map.addTilesetImage("CuteRPG_Village_B", "CuteRPG_Village_B");
		const CuteRPG_Forest_B = map.addTilesetImage("CuteRPG_Forest_B", "CuteRPG_Forest_B");
		const CuteRPG_Desert_C = map.addTilesetImage("CuteRPG_Desert_C", "CuteRPG_Desert_C");
		const CuteRPG_Mountains_B = map.addTilesetImage("CuteRPG_Mountains_B", "CuteRPG_Mountains_B");
		const CuteRPG_Desert_B = map.addTilesetImage("CuteRPG_Desert_B", "CuteRPG_Desert_B");
		const CuteRPG_Forest_C = map.addTilesetImage("CuteRPG_Forest_C", "CuteRPG_Forest_C");

		// The first parameter is the layer name (or index) taken from Tiled, the 
		// second parameter is the tileset you set above, and the final two 
		// parameters are the x, y coordinate. 
		// Joon: The "layer name" that comes as the first parameter value  
		//       literally is taken from our Tiled layer name. So to find out what
		//       they are; you actually need to open up tiled and see how you 
		//       named things there. 
		let tileset_group_1 = [CuteRPG_Field_B, CuteRPG_Field_C, CuteRPG_Harbor_C, CuteRPG_Village_B, 
													CuteRPG_Forest_B, CuteRPG_Desert_C, CuteRPG_Mountains_B, CuteRPG_Desert_B, CuteRPG_Forest_C,
													interiors_pt1, interiors_pt2, interiors_pt4, interiors_pt5, walls];

		const bottomGroundLayer = map.createLayer("Bottom Ground", tileset_group_1, 0, 0);
		const exteriorGroundLayer = map.createLayer("Exterior Ground", tileset_group_1, 0, 0);
		const exteriorDecorationL1Layer = map.createLayer("Exterior Decoration L1", tileset_group_1, 0, 0);
		const exteriorDecorationL2Layer = map.createLayer("Exterior Decoration L2", tileset_group_1, 0, 0);
		const interiorGroundLayer = map.createLayer("Interior Ground", tileset_group_1, 0, 0);
		const wallLayer = map.createLayer("Wall", [CuteRPG_Field_C, walls], 0, 0);
		const interiorFurnitureL1Layer = map.createLayer("Interior Furniture L1", tileset_group_1, 0, 0);
		const interiorFurnitureL2Layer = map.createLayer("Interior Furniture L2 ", tileset_group_1, 0, 0);
		const foregroundL1Layer = map.createLayer("Foreground L1", tileset_group_1, 0, 0);
		const foregroundL2Layer = map.createLayer("Foreground L2", tileset_group_1, 0, 0);
		foregroundL1Layer.setDepth(2);
		foregroundL2Layer.setDepth(2);
		// wallLayer.setDepth(2);

		collisionsLayer = map.createLayer("Collisions", collisions, 0, 0);

		collisionsLayer.setCollisionByProperty({ collides: true });

		collisionsLayer.setDepth(3);


		// *** SET UP CAMERA *** 
		player = this.physics.add.
					sprite(2500, 1100, "atlas", "misa-front").
					setSize(30, 40).
					setOffset(0, 0);
		player.setDepth(-1);
		// Setting up the camera. 
		const camera = this.cameras.main;
		camera.startFollow(player);
		camera.setBounds(0, 0, map.widthInPixels, map.heightInPixels);
		cursors = this.input.keyboard.createCursorKeys();

	  // Create the player's walking animations from the texture atlas. These are
	  // stored in the global animation manager so any sprite can access them.  
	  	const anims = this.anims;
	    let dirlist = ["left-walk","right-walk","up-walk","down-walk"];	
		for (let i=0; i<Object.keys(new_persona_names_list).length; i++){
			for (let j=0; j<4; j++){
				let animskey = Object.keys(new_persona_names_list)[i] +"-" + dirlist[j];
				let prefixkey = dirlist[j] + '.'
				anims.create({
				key: animskey,
				frames: anims.generateFrameNames(Object.keys(new_persona_names_list)[i] , { prefix: prefixkey, start: 0, end: 3, zeroPad: 3 }),
				frameRate: 4,
				repeat: -1 });
			}
		}
		console.log(persona_names)
		for (let i=0; i<Object.keys(persona_names).length;i++){
			

			let name = Object.keys(persona_names)[i]
			let appearance = persona_names[Object.keys(persona_names)[i]]['appearance']
			let x = persona_names[Object.keys(persona_names)[i]]['x']
			let y = persona_names[Object.keys(persona_names)[i]]['y']
			let sprite = play_context.physics.add
								.sprite(x, y, appearance, "down")
								.setSize(0, 0)
								.setOffset(0, 0); 
			sprite.setInteractive();
			// 添加点击事件
			sprite.on('pointerdown', function() {
				console.log('Sprite clicked!');

				showInfoPanel(sprite);
			});	

			// play_context.physics.add.collider(sprite, collisionsLayer);
			personas[name] = {}
			personas[name] = sprite

			
			var option = document.createElement("option");
			option.style = "font-size:3.0em"
			option.value = name;
			option.textContent = name;
			dropdown.appendChild(option);
			selectedPerson = name;
		}



		function callPythonFunction(x, y) {
			
			dict = {'persona_x':personas[selectedPerson].body.x , 'persona_y':personas[selectedPerson].body.y ,'x':x ,'y': y}
			console.log(typeof(dict))
			if (window.pyqtObject) {
				window.pyqtObject.on_js_function_called(JSON.stringify(dict));
			} else {
				console.error("PyQt Object not initialized yet.");
			}
		}

		

		this.input.on('pointerdown', function(pointer) {
			let worldX = pointer.x + player.body.x - 600;
			let worldY = pointer.y + player.body.y - 400;
			console.log('X:', pointer.x, 'Y:', pointer.y);
			console.log('World X:', worldX, ' World Y:', worldY);
			callPythonFunction(worldX, worldY);
			// callPython("Hello from JS!");
		}, this);
		
		
		if (window.pyqtObject) {
			window.pyqtObject.on_js_send_selected_persona(selectedPerson);
		} else {
			console.error("PyQt Object not initialized yet.");
		}
	}

	
	function update(time, delta) {
		// 
	  // *** MOVE CAMERA *** 
	  // This is where we finish up the camera setting we started in the create() 
	  // function. We set the movement speed of the camera and wire up the keys to
	  // map to the actual movement.
	  if (is_start){
		
		if (window.pyqtObject) {
				window.pyqtObject.on_js_send_selected_persona(selectedPerson);
				is_start = false;
			} 
			// else {
			// 	console.error("PyQt Object not initialized yet.");
			// }
		}

	  const camera_speed = 400;
	  // Stop any previous movement from the last frame
	  player.body.setVelocity(0);
	  if (cursors.left.isDown) {
	    player.body.setVelocityX(-camera_speed);
	  } 
	  if (cursors.right.isDown) {
	    player.body.setVelocityX(camera_speed);
	  } 
	  if (cursors.up.isDown) {
	    player.body.setVelocityY(-camera_speed);
	  } 
	  if (cursors.down.isDown) {
	    player.body.setVelocityY(camera_speed);
	  }


	  // update persona_names
	  if (time - update_time > 555) {

		
		update_time = time
		fetch('/update_persona/')
		.then(response => {
			if (!response.ok) {
				console.log(response)
				throw new Error('Network response was not ok');
			}
			return response.json();
		})
		.then(data => {
			
			persona_names = data;
			for (let i=0; i<Object.keys(persona_names).length; i++){
				let name = Object.keys(persona_names)[i];
				if (!(name in personas)){
					
					let appearance = persona_names[name]['appearance']
					let x = persona_names[name]['x']
					let y = persona_names[name]['y']
					let sprite = play_context.physics.add
										.sprite(x, y, appearance, "down")
										.setSize(0, 0)
										.setOffset(0, 0); 
					sprite.setInteractive();
					// 添加点击事件
					sprite.on('pointerdown', function() {
						// 这里你可以做其他的操作，例如弹出一个信息面板
						showInfoPanel(mySprite);
					});	

					// play_context.physics.add.collider(sprite, collisionsLayer);
					personas[name] = {}
					personas[name] = sprite
					
					var option = document.createElement("option");
					option.style = "font-size:3.0em"
					option.value = name;
					option.textContent = name;
					dropdown.appendChild(option);
					
				}

				if (persona_names[name]['direction'] != 'stop')	{
					let [dx, dy] = moveDirections[persona_names[name]['direction']];
					let targetX = personas[name].body.x + dx * movement_speed;
					let targetY = personas[name].body.y + dy * movement_speed;
					personas[name].body.setVelocity(dx * movement_speed, dy * movement_speed);

					if (persona_names[name]['direction'] == "left") {
						let animskey = persona_names[name]['appearance'] + "-left-walk";
						personas[name].anims.play(animskey, true);
					} else if (persona_names[name]['direction'] == "right") {
						let animskey = persona_names[name]['appearance'] + "-right-walk";
						personas[name].anims.play(animskey, true);
					} else if (persona_names[name]['direction'] == "up") {
						let animskey = persona_names[name]['appearance'] + "-up-walk";
						personas[name].anims.play(animskey, true);
					} else if (persona_names[name]['direction'] == "down") {
						let animskey = persona_names[name]['appearance'] + "-down-walk";
						personas[name].anims.play(animskey, true);
					} else {
						personas[name].anims.stop();
					};
					
				}
			}

		})
		.catch((error) => {
			console.log(data);
			console.error('Error:', error);
		});
	  }


	  // check whether arrive
	  function check_arrive(name){
		let therhold =0.5;

		if (persona_names[name]['direction'] == 'stop') { return true; }


		
		if (persona_names[name]['direction'] == 'right'){
			if (personas[name].body.x > persona_names[name]['target_x'] - therhold) { return true; }
		}
		if (persona_names[name]['direction'] == 'left'){
			if (personas[name].body.x < persona_names[name]['target_x'] + therhold) { return true; }
		}
		if (persona_names[name]['direction'] == 'up'){
			if (personas[name].body.y < persona_names[name]['target_y'] + therhold) { return true; }
		}
		if (persona_names[name]['direction'] == 'down'){
			if (personas[name].body.y > persona_names[name]['target_y'] - therhold) { return true; }
		}
		return false;

	  }

	  if (time -update_time_2 >100){
		update_time_2 = time;
		for (let i=0; i<Object.keys(persona_names).length; i++){
			name = Object.keys(persona_names)[i];

			if (personas[name].body.velocity.x !=0 ||personas[name].body.velocity.y !=0)
			{

				// console.log(name)
				// console.log(persona_names[name]['target_x'], persona_names[name]['target_y'])
				// console.log(personas[name].body.x,personas[name].body.y)
				if (check_arrive(name)){

					personas[name].setVelocity(0,0);
					personas[name].body.x = persona_names[name]['target_x'];
					personas[name].body.y = persona_names[name]['target_y'];

					if (name == selectedPerson) {
						let new_persona_json = persona_names[name];
						persona_names[name]['direction'] = 'stop';
						fetch('/move/', {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json'
							},
							body: JSON.stringify(new_persona_json)
						})
						.then(response => response.json())
						.then(data => {
							if (window.pyqtObject) {
								window.pyqtObject.on_js_arrived('arrived');
							} else {
								console.error("PyQt Object not initialized yet.");
							}
						})
						.catch((error) => console.error('Error:', error));

						
					}
				}
			}
		}
	  }
	  
	  

	  
	}


</script>







